body {
  background:black;
  color:#00ff9d;
  font-family: monospace;
}

.hidden {
  display:none;
}

input, button {
  background:black;
  color:#00ff9d;
  border:1px solid #00ff9d;
  padding:5px;
  margin:5px;
}
