body{
  background:black;
  color:#00ff9d;
  font-family: monospace;
  margin:0;
  padding:20px;
}

.hidden{ display:none; }

button{
  background:black;
  border:1px solid #00ff9d;
  color:#00ff9d;
  padding:8px;
  margin:5px;
}

input, select{
  background:black;
  border:1px solid #00ff9d;
  color:#00ff9d;
  margin:5px;
  padding:5px;
}

.terminal{
  padding:20px;
  border:1px solid #00ff9d;
}

#document{
  background:
    repeating-linear-gradient(0deg,#1c1c1c,#1c1c1c 2px,#222 4px);
  padding:20px;
  color:black;
}
