body{
  margin:0;
  background:#151515;
  color:#00ff9d;
  font-family: monospace;
}

.screen{
  display:none;
  padding:30px;
}

.screen.active{
  display:block;
}

#nadzorca{
  position:fixed;
  top:10px;
  left:10px;
  font-size:12px;
  background:black;
  padding:6px;
  z-index:10;
}

#glitchOverlay{
  position:fixed;
  inset:0;
  background:white;
  opacity:0;
  pointer-events:none;
  transition:opacity 0.1s ease;
}

body.glitching{
  filter: contrast(1.1) brightness(0.95);
}

input, select, button{
  background:black;
  color:#00ff9d;
  border:1px solid #00ff9d;
  margin:6px 0;
  padding:6px;
}

#paper{
  background:#f3f0df;
  color:black;
  padding:20px;
  margin-top:20px;
  border:2px solid black;
}
